@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");
.container {
  margin: auto;
  width: 100%; }
  .container section {
    padding: 0 3rem; }

.fw-300 {
  font-weight: 300; }

.fw-800 {
  font-weight: 800; }

.hr__custom {
  border: 1px solid rgba(255, 255, 255, 0.5); }

.hr__custom--small-orange {
  border-top: 0;
  border-color: #FF8000; }

.show-in-desktop {
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 480px) {
  html {
    height: 120%; }
  .container {
    max-width: 500px; }
  .show-in-desktop {
    display: block; }
  #search {
    margin: 0 5.2rem; }
    #search .search__form input.form__input {
      width: -webkit-calc(100% - 1rem);
      width: -moz-calc(100% - 1rem);
      width: calc(100% - 1rem); }
  #capitals .capitals__container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
  #capitals .table__header th {
    font-size: 0.6rem; }
  #capitals .table__content td {
    font-size: .7rem; } }

body {
  color: #272727;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: 'Open Sans', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#FCC900), to(#FF8000));
  background: -webkit-linear-gradient(bottom, #FCC900, #FF8000);
  background: -moz-linear-gradient(bottom, #FCC900, #FF8000);
  background: -o-linear-gradient(bottom, #FCC900, #FF8000);
  background: linear-gradient(0deg, #FCC900, #FF8000); }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, li {
  margin: 0;
  padding: 0; }

a, button, input {
  outline: none; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

header {
  margin-bottom: .6rem;
  text-align: center; }
  header .header__title {
    padding-top: 3rem;
    font-size: 3.3rem;
    color: white;
    font-weight: 800; }

#capitals {
  margin: 1rem auto;
  margin-bottom: 0;
  padding-bottom: 1rem; }
  #capitals .capitals__header {
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem; }
  #capitals table th, #capitals table td {
    text-align: left;
    display: inline-block;
    padding: 0.3rem 0.4rem; }
    #capitals table th:nth-child(3), #capitals table td:nth-child(3) {
      padding-left: .7rem; }
  #capitals table th {
    font-size: .9rem;
    font-weight: 300; }
  #capitals table td {
    font-size: 1rem;
    font-weight: 800; }

#search {
  padding: 0;
  text-align: center; }
  #search .search__output {
    background-color: #FEF5E2;
    color: #555;
    text-align: left;
    margin: 2rem 0;
    padding: 1rem 1rem; }
    #search .search__output .search__output__main, #search .search__output .search__output__footer {
      padding: 0 1rem; }
    #search .search__output .output__city {
      margin-bottom: .5rem; }
    #search .search__output .output__temperature {
      margin: 1rem 0; }
    #search .search__output .output__temperature-sub {
      font-weight: 800;
      font-size: .6rem;
      margin: 1rem 0; }
    #search .search__output .output__wind-humidity {
      margin: .8rem 0;
      font-size: .6rem; }
  #search .search__form .form__input {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem;
    width: 80%;
    height: 2.3rem;
    border: 1px solid #cc6600;
    border-top: 0;
    background-image: url("../../images/search.svg");
    -moz-background-size: 20px;
      -o-background-size: 20px;
         background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-left: 1rem;
    padding-bottom: .1rem; }
  #search .search__output__footer ul {
    margin: auto;
    list-style: none; }
    #search .search__output__footer ul li {
      float: left;
      display: inline;
      padding-right: 1rem;
      font-weight: 800;
      font-size: .7rem; }
      #search .search__output__footer ul li span.day {
        margin-bottom: 0.3rem;
        display: block; }
      #search .search__output__footer ul li span.temperature {
        color: #FF8000;
        font-size: 0.6rem;
        text-align: center; }
