@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');


body {
  color: $primary-color;
  background: $background-color; 
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}


ul, li {
  margin: 0;
  padding: 0;
}


a, button, input {
  outline: none;
}


a[href^=tel] {
  color: inherit;
  text-decoration: none;
}