html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background: #FF7F00;
  background: -webkit-linear-gradient(0deg, #FFBA00, #FF7F00);
  background: -o-linear-gradient(0deg, #FFBA00, #FF7F00);
  background: -moz-linear-gradient(0deg, #FFBA00, #FF7F00);
  background: linear-gradient(0deg, #FFBA00, #FF7F00);
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.col--25 {
  float: left;
  width: 25%;
}

.col--40 {
  float: left;
  width: 40%;
}

.col--60 {
  float: left;
  width: 60%;
}

.btn {
  border: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.list--inline li {
  display: inline-block;
}

.icon {
  text-indent: -9999px;
}
.icon.icon--arrow-up {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url("../img/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.icon.icon--arrow-down {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.icon.icon--search {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.icon.icon--close {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__group {
  position: relative;
}

.loader--circle {
  position: absolute;
  top: 25px;
  right: 0;
  border: 5px solid #FF7F00;
  border-radius: 50%;
  border-top: 5px solid white;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
.loader--traces {
  display: none;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -8px;
}
.loader--traces .loader--traces-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: scale 1s ease-in-out infinite;
}
.loader--traces .loader--traces-bar:nth-child(1) {
  animation-delay: 0;
  background-color: #FFBA00;
}
.loader--traces .loader--traces-bar:nth-child(2) {
  animation-delay: .09s;
  background-color: white;
}
.loader--traces .loader--traces-bar:nth-child(3) {
  animation-delay: .18s;
  background-color: #FF7F00;
}
.loader--traces .loader--traces-bar:nth-child(4) {
  animation-delay: .27s;
  background-color: black;
}

.header__title {
  color: white;
  font-weight: bold;
  transition: all .3s;
}
@media (min-width: 600px) {
  .header__title {
    text-align: center;
  }
}
.header__title.header__title--lg {
  font-size: 3.5em;
  line-height: 1.5em;
  padding: 1em 40px;
}
@media (min-width: 600px) {
  .header__title.header__title--lg {
    padding: 1em 0;
  }
}
.header__title.header__title--sm {
  font-size: 1.5em;
  padding: 20px 25px;
}
@media (min-width: 600px) {
  .header__title.header__title--sm {
    font-size: 2.5em;
  }
}

.card {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  font-size: .8em;
  font-weight: bold;
  color: #4d4d4d;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #FFF3E4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all .3s;
}
@media (min-width: 600px) {
  .card {
    width: 80%;
    padding: 0 20px;
    font-size: 1em;
  }
}
.card .card__btn--into-right {
  position: absolute;
  top: 20px;
  right: 20px;
}
.card .card__details {
  overflow: hidden;
  line-height: 3em;
  padding: .8em 2em;
}
.card .card__details .card__details--now {
  font-size: 2.4em;
  margin: 10px 0;
}
.card .card__details span {
  font-weight: normal;
}
.card .card__days {
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 2em;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #FF7F00;
}
.card .card__days .card__days--forecast {
  color: #FF7F00;
}

.form {
  margin-bottom: 50px;
}

.form__group {
  margin: 0 auto;
  position: relative;
  width: 90%;
  transition: width .3s;
}
@media (min-width: 600px) {
  .form__group {
    width: 80%;
  }
}
.form__group .form__btn--into-right {
  position: absolute;
  top: 10px;
  right: 8px;
  color: #333333;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  padding: 12px;
  border: 1px solid #FF7F00;
}

.capitals {
  padding: 0 40px;
  border-top: 1px solid white;
}

.capitals__title {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  padding: 25px 0;
}

.capitals__table {
  display: block;
  float: left;
  width: 100%;
  color: black;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
}
.capitals__table th, .capitals__table td {
  border: none;
  text-align: left;
  padding: 0 .5em;
  line-height: 2em;
}
.capitals__table th {
  font-size: .7em;
}
.capitals__table td {
  font-size: .9em;
  font-weight: bold;
}
.capitals__table:nth-child(2) {
  display: none;
}
@media (min-width: 600px) {
  .capitals__table {
    width: 50%;
  }
  .capitals__table:nth-child(1) tbody tr:nth-child(n + 7) {
    display: none;
  }
  .capitals__table:nth-child(2) {
    display: block;
  }
  .capitals__table:nth-child(2) tbody tr:nth-child(-n + 6) {
    display: none;
  }
}

.capital__btn {
  cursor: pointer;
}
.capital__btn:hover {
  color: #333333;
}
