*
  font-family 'Open Sans', sans-serif
  box-sizing border-box
body
  background #ff7f00
  background linear-gradient(#ff7f00, #ffbb00)
  display flex
  flex-flow row wrap
.container
  min-width 768px
  margin 0 auto
