.capital
  width 460px
  margin 20px auto
  h1
    color #ffffff

.capital__separator
  width 80%
  height 1px
  background-color #ffffff
  border none

.capital__list
  display flex
  flex-flow column wrap

.capital__container
  display flex
  flex-flow row wrap
  justify-content space-between
  font-size 16px

.capital__container__column
  width 45%
  div
    display flex
    flex-flow row wrap
    justify-content space-between
    padding 10px 0
  p
    margin 0
  
.capital__container__header
  font-weight lighter

.capital__min
  flex 1
  
.capital__max
  flex 1

.capital__city
  flex 2
