.city
  position relative
  width 500px
  margin 0 auto
  padding 10px 0
  background-color #ffffff
  box-shadow 0 0 10px #202020
  opacity 1
  transition all .5s ease

.city--closed
  opacity 0
  height 0

.city__close
  position absolute
  top 20px
  right 20px
  display block
  text-decoration none
  .fa
    color #ff7f00

.city__header
  padding 0 50px
  color #303030
  h1
    font-size 16px
    font-weight normal
  h2
    margin 10px 0
    font-size 42px

.city__stats
  display flex
  flex-flow row wrap
  justify-content space-between
  padding 0 150px 0 50px
  color #202020
  font-weight lighter
  .fa
    color #ff7f00
  div
    width 120px

.city__separator
  width 90%
  height 1px
  margin 20px auto
  border none
  background-color #ff7f00

.flex-empty
  flex-shrink 1

.city__next
  display flex
  flext-flow row wrap
  justify-content space-between
  padding 0 50px
  text-align center
  h1
    font-size 16px 
    margin 3px 0
    color #303030
  h2
    font-size 14px
    margin 3px 0
    color #ff7f00
