.font-base
  font-family: Arial
  font-size: .7em
  font-weight: bold

.capitals__title
  font-family: 'Lato', sans-serif
  font-size: 1.5em
  font-weight: bold
  color: list-color-secondary
  margin-top: 30px

.weather-col-1
  float: left
  margin-top: 10px
  width: 48%

.weather-col-2
  margin-top: 10px
  float: right
  width: 48%

.list-weather-1
  font-family: Arial
  font-size: .8em
  font-weight: bold
  float: left
  margin-top: 10px
  margin-right: 5px

.list-weather-1__title,
.list-weather-2__title
  color: #696969
  font-weight: 100

.list-weather-1 li
  display: block
  width: 30px
  padding-bottom: 10px
  text-align: center

.list-weather-2
  font-family: Arial
  font-size: .8em
  font-weight: bold
  float: left
  margin-top: 10px

.list-weather-2 li
  display: block
  padding-bottom: 10px
  width: 30px
  text-align: center

.list-weather-3,
.list-weather-4
  font-family: Arial
  font-size: .8em
  font-weight: bold
  float: left
  margin-top: 32px

.list-weather-3 li,
.list-weather-4 li
  display: block
  padding-left: 15px
  padding-bottom: 10px
  width: 140px
  list-style: none
  text-align: left

.weather-capitals
  margin-top: 10px

  & li
    padding-bottom: 15px

.subtitle-weathers
  padding-left: 5px
  font-size: 12px
  font-family: Arial
  color: list-subtitulo

.temperature
  width: 60px
  max-width: 60px

.temperature__number
  @extend .font-base
  padding: 5px
  width: 50px
  color: list-color-primary

.capitals-temperature
  @extend .font-base
  padding-left: 10px
  color: list-color-primary
