.search-bar {
  padding: 10px 13px;
  width: 100%;
  border: none;
}

.button-search {
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  position: absolute;
  background: transparent;
}

.search-wrapper {
  position: relative;
  border: 1px solid gray;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.icon {
  color: var(--black);
  background: transparent;
}

.table-wrapper {
  padding: 1.5rem;
  border-top: 1px solid var(--white);
  margin-top: 3rem;
}

.col-header {
  font-size: 12px;
  font-weight: 100;
  padding: 8px 0;
  padding-right: 10px;
  text-align: left;
}

.dado,
.dado_city {
  font-size: 15px;
  font-weight: bold;
}

.dado {
  padding: 8px 0;
  padding-right: 8px;
}

.dado_city {
  padding: 8px;
}

.loading {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-top: 2px solid var(--black);
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.card_wrapper {
  position: relative;
  color: var(--black);
  background-color: var(--bg-card);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.07);
  max-width: 90%;
  margin: 0 auto;
}

.prev_atual,
.prev_semana {
  padding: 0 1rem;
}

.prev_atual {
  border-bottom: 1px solid var(--orange);
  margin-bottom: 1.5rem;
}

.card_header {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  border: none;
  background: transparent;
  font-size: 1.4rem;
  color: var(--orange);
  display: flex;
  align-items: center;
}

.subtitle_3 {
  font-size: 17px;
  font-weight: bold;
}

.temp_atual {
  padding: 0 !important;
  color: var(--back) !important;
  margin-bottom: 1rem;
}

.temp_row_info {
  width: 100%;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  margin-bottom: 1.3rem;
  font-weight: 300;
}

.temp_row_info .bold {
  font-weight: bold;
}
.fa-arrow-down,
.fa-arrow-up {
  color: var(--orange);
}

/* temp da semana */

.prev_semana {
  padding-bottom: 1.5rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dia {
  display: inline-block;
  margin-bottom: 1rem;
}

.dia:last-child {
  margin-bottom: 0;
}

.prev_semana .dia:last-child {
  margin-right: 0;
}

.dia .temp {
  font-weight: bold;
  color: var(--orange);
}

.dia h3 {
  margin-bottom: 0.5rem;
}

:root {
  --white: #fff;
  --orange: #f98001;
  --yellow: #fabb05;
  --black: #505050;
  --bg-card: #fef2e4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 100%;
}
body {
  background: linear-gradient(var(--orange), var(--yellow)) no-repeat;
  height: 100vh;
  max-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1040px;
}

.title {
  font-size: 2.7rem;
  color: var(--white);
  padding: 2rem 1rem;
}

.title-min {
  font-size: 1.7rem;
  color: var(--white);
  padding: 1rem;
}

.subtitle {
  font-size: 2.2rem;
  color: var(--white);
}

@media screen and (max-width: 414px) {
  .container {
    width: 100%;
  }
  .card_wrapper {
    position: relative;
    color: var(--black);
    background-color: var(--bg-card);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.07);
    max-width: 100%;
    margin: 0 auto;
  }
}


/*# sourceMappingURL=style.css.map*/