#capitals {
  margin: 1rem auto;

  .capitals__header {
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
  }


  table {
    color: #272727;
    

    th, td { 
      text-align: left;
      display: inline-block;
      padding: 0.3rem 0.4rem;
      &:nth-child(3) { padding-left: .7rem; }
    }

    th {
      font-size: .9rem;
      @include fw-300;
    }


    td {
      font-size: 1rem;
      @include fw-800;
    }

  }
}