#capitals {

  margin: auto;

  table {

    th {
      @include fw-300;
    }

    td {
      @include fw-800;
    }
  }

  .capitals__header {
    color: white;
  }

  .capitals__container {
    // margin: auto;
    width: 400px;
    column-count: 2;
  }
}