#search {
  padding: 0;
  text-align: center;


  .search__output {    
    background-color: $secondary-color;
    color: #555;
    text-align: left;
    margin: 2rem 0;
    padding: 1rem 1rem;

    .search__output__main, .search__output__footer {
      padding: 0 .3rem;
    }

    .output__close {
      float: right;
      margin-top: -1.5rem;
      margin-right: -.7rem;
      cursor: pointer;
    }

    .output__location {
      margin-bottom: .5rem;
    }

    .output__temperature {
      margin: 1rem 0;
    }

    .output__temperature-sub {
      @include fw-800;
      font-size: .6rem;
      margin: 1rem 0;
    }

    .output__wind-humidity {
      margin: .8rem 0;
      font-size: .6rem;
    }

    .search__output__footer {

      ul {
        margin: auto;
        list-style: none;

        li {
          float: left;
          display: inline;
          padding-right: 1rem;
          @include fw-800;
          font-size: .7rem;

          span.temperature {
            margin-top: 0.3rem;
            text-align: center;
            display: block;
            color: $orange;
          }
        }

      }

    }

  }

  .search__form .form__input {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem;
    width: 80%;
    height: 2.3rem;
    border: 1px solid darken($orange, 10%);
    border-top: 0;

    background-image: url('../../images/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    
    padding-left: 1rem;
    padding-bottom: .1rem;
  }
}