.search
  margin-top $spacing
  padding $spacing-md $spacing $spacing-lg $spacing
  border-bottom 1px solid $white
    
  &__form
    display flex
    
    .btn
      margin-top $spacing
      margin-left -40px
      
  &__control
    width 100%
    padding $spacing-md
    border 1px solid $orange-darker