@charset 'utf-8';

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(255, 128, 0), rgb(255, 203, 64));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #fff;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
}

div#wrapper {
    margin: 15px auto;
    padding: 15px 5px;
}

@media screen and (max-width: 320px) {
    div#wrapper {
        width: 86%;
    }
}

@media screen and (min-width: 768px) {
    div#wrapper {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    div#wrapper {
        width: 50%;
    }
}

header#head, section#search {
    text-align: center;
}

section#search input#input-city {
    display: inline-block;
    width: 75%;
    margin: 15px 2px;
    padding: 15px 10px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
    background-image: url('../images/search-icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 320px) {
    section#search input#input-city {
        width: 100%;
    }
}

hr#separator {
    border: 1px solid #fff;
}

@media screen and (max-width: 320px) {
    hr#separator {
        margin: 0 -100%;
    }
}

section#capitals {
    padding: 2px 25px;
}

table#table-capitals thead tr th, table#table-capitals tbody tr td {
    display: inline-block;
}

table#table-capitals thead tr th {
    margin-right: 9px;
    margin-bottom: 9px;
    font-size: 0.8em;
    font-weight: 100;
}

table#table-capitals tbody tr td {
    margin-right: 7px;
    margin-bottom: 14px;
    font-size: 1.1em;
    font-weight: 700;
}

td.city {
    margin-left: 12px;
}

.celsius::after {
    content: "°";
}

div#modal-result {
    display: none;
    margin: 20px auto;
    background-color: rgb(255, 243, 228);
    box-shadow: 2px 3px 5px rgb(255, 128, 0);
}

@media screen and (max-width: 320px) {
    div#modal-result {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    div#modal-result {
        width: 80%;
    }
}

div#modal-result header {
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 30px;
}

div#modal-result header h2#location {
    font-size: 0.9em;
    font-weight: 700;
    color: #393939;
}

div#modal-result header span#close-result {
    float: right;
    color: rgb(255, 128, 0);
    font-size: 28px;
    font-weight: bold;
}

div#modal-result header span#close-result:hover, div#modal-result header span#close-result:focus {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

div#modal-content-result {
    padding-left: 30px;
    padding-bottom: 10px;
}

h3#condition {
    margin: 0;
    font-size: 1.7em;
    font-weight: 700;
    color: #696969;
}