.wf-capitals{
  //background-color: $backgroundScreenColorBottom;
  color: $darkTextColor;
  margin: 20px 0 0;
  padding: 20px;
  padding-top: 10px; 
  border-top: 2px solid $lightborderColor;

}
.wf-capitals__title{
  margin: 0;
  margin-bottom: 20px;
  color: $lightTextColor
}
.wf-capitals__box{
  display: flex;
  justify-content:space-between
}
.wf-capitals__list{
  font-size: 14px
}
.wf-capitals__list:last-of-type{
  margin-left: 20px
}
.wf-capitals__header-list{
  display: flex  
}
.wf-capitals__list div{
  min-width: 30px;
  text-align: center
}
.wf-capitals__list-item{
  display: flex;
  padding: 8px 0;
  font-weight: bold;
}

@media (max-width: 768px) { 
  .wf-capitals{
    padding: 20px 4% 0
  }
  .wf-capitals__box{
    flex-direction: column
  }
  .wf-capitals__list:last-of-type {
    margin-left: 0;
  }
  .wf-capitals__list:last-of-type .wf-capitals__header-list {
    display: none
  }
}