// .app
//   margin: 0 auto;
//   width: 100%;
//   height: 100%
//   background: #ff8000;

.container
  margin: 0 auto
  width: 100%
  height: 100%
  background: #FF8000
  background-linear-gradient(color-primary, color-secondary)

.center
  width: 41.66%
  margin: 0 auto

.main
  margin: 0 auto
  padding-bottom: 20px

  + element(content)
      display: block
      margin-top: 4.38%

  + element(division-line)
      margin: 0 auto
      width: 100%
      border: solid 1px #ffc125

  + element(capitals-list)
      margin: 0 auto
      width: 100%
