.wf-header{
    //background-color: $backgroundScreenColorTop; // retirar na integração
    padding-top: 16px;
    padding-bottom: 24px;
    margin: 0 -20px;
}
.wf-header__title{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2.4em;
    color: $lightTextColor;
}