.wf-header{
    background-color: $backgroundScreenColorTop; // retirar na integração
    padding-top: 16px;
    padding-bottom: 24px;
}
.wf-header__title{
    padding: 0;
    margin: 0;
    text-align: center;
    color: $lightTextColor;
}