*
  box-sizing: border-box

html, body
  height: 100%

body
  color: #333
  font: 16px 'Montserrat', sans-serif
  background: #FF8000
  background-image: -webkit-linear-gradient(#FF8000, #FFA500)
  background-image:    -moz-linear-gradient(#FF8000, #FFA500)
  background-image:      -o-linear-gradient(#FF8000, #FFA500)
