// Base Fonts
//=======================
font-family--primary = 'Myriad Pro Regular', 'Arial', 'Sans-serif'
font-famly--secondary = Arial
font-size-base = 1em

// Utility colors
//=======================
orange = #FF8000
ligth-orange = #FFA500
black = #000
white = #fff
grey = #666

// Main Color pallete
//=======================
color-primary = orange
color-secondary = ligth-orange
color-terciary = black
color-default = white

// Common colors

// Components
//=======================

// Card
card-background = color-default
card-color-primary = color-terciary
card-color-secondary = color-primary

// List
list-color-primary = color-terciary
list-color-secondary = color-default
list-subtitulo = grey

// Search
search-input-background = color-default
search-btn-color = grey

// Header
header-color = white

// BreakPoints
//=========================
