.mobile__hidden
  @media screen and (max-width: 480px)
    display none !important //Using important to override flexbox display (i dont like it)

.container
  @media screen and (max-width: 480px)
    width 100%
    min-width 320px

.search
  @media screen and (max-width: 480px)
    width 90%

.capital__separator
  @media screen and (max-width: 480px)
    width: 100%

.capital
  @media screen and (max-width: 480px)
    width 70%

.capital__container__column
  @media screen and (max-width: 480px)
    width 100%

.city
  @media screen and (max-width 480px)
    width 100%
