element(element)
  &__{element}
      {block}

modifier(modifier)
  &--{modifier}
      {block}

background-linear-gradient(startColor,endColor)
  background-image: -webkit-linear-gradient(color-primary, color-secondary)
  background-image:    -moz-linear-gradient(color-primary, color-secondary)
  background-image:      -o-linear-gradient(color-primary, color-secondary)
