@media screen and (min-width: 480px) {

  // general responsive code 
  html { height: 100%; }

  .container {
    max-width: 500px;
  }

  .show-in-desktop {
    display: block;
  }

  // capitals section responsive code
  #capitals {
    .capitals__container {
      column-count: 2;
    }

    .table__header th {
      font-size: 0.6rem;
    }

    .table__content {
      td { font-size: .7rem; }
    }
  }

}