<md-content class="background-transparent">
    <div layout="row" layout-align="center center" layout-align="center center">
        <h1 class="title-dashboard">Previsão do tempo</h1>
    </div>
    <div ng-show="vm.selectedItem" layout-align="center center" layout="row">
        <md-card flex="40" flex-xs="100" class="card-custom">
            <div layout="row">
                <h3 class="md-padding">{{vm.selectedItem.location.city}}, {{vm.selectedItem.location.region}} - {{vm.selectedItem.location.country}}</h3>
            </div>
            <div layout="row">
                <div layout="column" flex="100">
                    <b><h1>{{vm.selectedItem.item.condition.temp | formatTemperature: 'C'}}°C {{vm.getMapTranslate(vm.selectedItem.item.condition.text)}}</h1></b>
                </div>
            </div>
            <div layout="row" layout-xs="row">
                <div layout="row">
                    <i class="arrow-custom material-icons">arrow_downward</i>
                    <p layout-align="left left" layout="column">
                        <b>   {{vm.selectedItem.item.forecast[0].low | formatTemperature: 'C'}}°</b>
                    </p>
                    <i class="arrow-custom material-icons">arrow_upward</i>
                    <p layout-align="center left" layout="column">
                        <b>  {{vm.selectedItem.item.forecast[0].high | formatTemperature: 'C'}}°</b>
                    </p>
                </div>
                <p flex="40" layout-align="center center" layout="column">
                    Sensação:
                </p>
            </div>
            <div layout="row" class="md-padding">
                <p layout="column" layout-align="center left">
                    <b>   Vento {{vm.selectedItem.wind.speed | speedFilter: 'mph'}} Km/h</b>
                </p>
                <p layout-align="center center" layout="column" flex="40">
                    <b>
                        Umidade: {{vm.selectedItem.atmosphere.humidity}}%
                        </b>
                </p>
            </div>
            <div layout="row" layout-align="center center" flex="100">
                <md-divider layout-align="center center" flex="100" class="divider1"></md-divider>
            </div>
            <md-card-content layout="row" layout-xs="row">
                <md-content layout-align="center center" flex layout="row">
                    <div flex="100" ng-repeat="forecast in vm.selectedItem.item.forecast.slice(1,6)">
                        <table layout="column" ">
                            <thead>
                                <tr>
                                    <th> <b> {{vm.getMapTranslate(forecast.day)}}</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="temp "><b>   {{forecast.low | formatTemperature: 'C'}}°</b></td>
                                    <td class="temp "><b> {{forecast.high | formatTemperature: 'C'}}°</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-content>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row " layout-align="center center " flex>
        <form name="cityForm " flex="40 " flex-xs="100 ">
            <div class="inner-addon right-addon ">
                <i class="color-primary iconsearch material-icons ">search</i>
                <md-autocomplete class="input-search " md-no-cache="true " md-search-text="vm.searchText " md-selected-item-change="vm.getCityBySearch(item.value) " md-items="item in vm.querySearch(vm.searchText) " md-item-text="item.display " md-min-length="0 " placeholder="Insira aqui o nome da cidade ">
                    <md-item-template>
                        <span md-highlight-text="vm.searchText " md-highlight-flags="^i ">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        "{{vm.searchText}} " não encontrada, verifique a acentuação.
                        <a ng-click="vm.newState(vm.searchText) ">Create a new one!</a>
                    </md-not-found>
                </md-autocomplete>
            </div>
        </form>
    </div>
    <div layout="row " layout-align="center center " class="padding40 " flex="100 ">
        <md-divider layout-align="center center " flex="40 " flex-xs="100 " class="divider2 "></md-divider>
    </div>
</md-content>
<md-content ng-init="vm.initData() " class="background-transparent " class="md-padding " layout-xs="column ">
    <div layout="row " layout-align="center center " flex="100 ">
        <h2 layout-align="center center " flex="40 " flex-xs="100 " class="title-content ">Capitais</h2>
    </div>
    <div layout="row " layout-align="center center " flex="100 ">
        <div layout-align="center center " flex="30 " flex-xs="100 ">
            <table layout="column ">
                <thead>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in vm.leftTemps track by $index ">
                        <td><b>{{data.data.results.channel.item.forecast[0].high | formatTemperature: 'C'}}°</b></td>
                        <td><b>{{data.data.results.channel.item.forecast[0].low | formatTemperature: 'C'}}°</b></td>
                        <td><b>{{data.city}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div layout-align="center center " flex="10 " flex-xs="100 ">
            <table layout="column ">
                <thead>
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in vm.rigthTemps track by $index ">
                        <td><b>{{data.data.results.channel.item.forecast[0].high | formatTemperature: 'C'}}°</b></td>
                        <td><b>{{data.data.results.channel.item.forecast[0].low | formatTemperature: 'C'}}°</b></td>
                        <td><b>{{data.city}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</md-content>
