// cores
$principalColor: #ff8000;
$backgroundScreenColorTop: #ff8000;
$backgroundScreenColorBottom: #fcc800;
$backgroundWeatherForecast: #FEF4E2;
$backgroundInput: #fff;
$darkTextColor: #272727;
$lightDarkTextColor: #515151;
$lightTextColor: #fff;
$lightborderColor: #FDECC3;
$borderColor: #FFA200;

// tipografia
$fontFamily: Arial, Helvetica, sans-serif;