.clearfix
  overflow: auto;
  zoom: 1;


@media (max-width: 2000px)
  .header
    width: 30em

  .card
    width: 25em

  .center
    width: 30em

  .main4
  .main__capitals-list
    width: 30em

  .search
    width: 25em

@media (max-width: 768px)
  .center
    width: auto

  .card__content
    heigth: 228px

  .card
    width: 86%

  .header__title
    padding-top: 20px

  .card-weather
    width: 20em

  .card-weather__temperature
    font-size: 2em

  .weather-description

  .temperature-days
    width: 100%
    margin: 0 auto

  .temperature-days li
    width: 6em
    font-size: .8em

  .temperature-numbers
    font-size: .8em
    margin: 0 auto

  .temperature-numbers li
    width: 7.4em

  .search
    width: 25em

  .weather-col-1
    display: block
    width: 100%

  .weather-col-2
    display: block
    width: 100%

  .list-weather-2__title
    display: none !important

  .list-weather-4,
  .list-weather-1--remove-top
    margin-top: -10px !important

  .main__capitals-list
    width: 15em

  .main
    width: 25em

@media (max-width: 480px)
  .card__content
    padding-top: 16px
    height: 210px !important

  .card__close
    padding: 0px
    padding-right: 12px
    padding-top: 0px
    font-size: 1.2em

  .card
    width: 100%

  .header
    width: 100% !important

  .header__title
    margin-top: 0px !important

  .search
    width: 90%

  .card-weather
    width: 80%
    padding: 0px !important
    margin: 0 auto !important

  .card-weather__temperature
    font-size: 2.58em

  .weather-description
    width: 100%

  .temperature-days
    width: 100%
    margin-top: 14px

  .temperature-days li
    text-align: left
    width: 4.8em
    font-size: 1em

  .temperature-numbers
    font-size: 1.4em
    width: 100%

  .temperature-numbers li
    width: 4.26em !important
    text-align: left

@media (max-width: 470px)
  .temperature-days
    font-size: 0.96em
    width: 80%
    text-align: left
    margin-top: 14px

  .temperature-days li
    text-align: left
    width: 4.4em
    font-size: 1em

  .temperature-numbers
    font-size: 1.2em
    text-align: left
    width: 80%

  .temperature-numbers li
    width: 4.26em !important
    text-align: left

@media (max-width: 424px)
  .header-small--title
    width: 100%
    height: 60px
    box-shadow: 0 6px 5px 0 #000

  .header__title
    font-size: 1.6em
    font-weight: bold
    text-align: left
    margin-left: 40px

  .card
    padding-top: 0

  .main
    width: 100%

  .capitals__title
    font-size: 1.8em

  .temperature-days
    font-size: 0.8em
    width: 100%
    text-align: center
    margin-top: 14px

  .temperature-days li
    text-align: left
    width: 5em
    font-size: 1em

  .temperature-numbers
    font-size: 1.2em
    text-align: center
    width: 100%

  .temperature-numbers li
    width: 4.6em !important
    font-size: 0.74em !important

@media (max-width: 342px)
  .temperature-days
    font-size: 0.8em
    width: 100%
    text-align: center
    margin-top: 14px

  .temperature-days li
    text-align: left
    width: 4.5em
    font-size: 1em

  .temperature-numbers
    font-size: 1.2em
    text-align: center
    width: 100%

  .temperature-numbers li
    width: 4.2em !important
    font-size: 0.74em !important

@media (max-width: 335px)
  .card-weather__temperature
    font-size: 2.2em
