.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1040px;
}

.title {
  font-size: 2.7rem;
  color: var(--white);
  padding: 2rem 1rem;
}

.title-min {
  font-size: 1.7rem;
  color: var(--white);
  padding: 1rem;
}

.subtitle {
  font-size: 2.2rem;
  color: var(--white);
}
