* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 100%;
}
body {
  background: linear-gradient(var(--orange), var(--yellow)) no-repeat;
  height: 100vh;
  max-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
