.header__title {
	color: $color-light;
	font-weight: bold;
	transition: all .3s;

	@media(min-width: $media-min-width) {
		text-align: center;
	}

	&.header__title--lg {
		font-size: 3.5em;
		line-height: 1.5em;
		padding: 1em 40px;

		@media(min-width: $media-min-width) {
			padding: 1em 0;
		}
	}

	&.header__title--sm {
		font-size: 1.5em;
		padding: 20px 25px;

		@media(min-width: $media-min-width) {
			font-size: 2.5em;
		}
	}
}